/*Contact*/
.form input,
.form select {
    border: none;
    border-bottom: 2px lightgray solid;
}

.form label,
.form div[class=label] {
    color: gray;
}

.form button {
	color: gray;
	background-color: lightgray;
	border-radius: 0;
}

/*Media*/
audio, video {
    outline-width: 0;
}

/*Table*/
.table th,
.table td {
    border: 2px solid goldenrod;
    border-spacing: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.table th {
    background-color: gray;
    color: #dcdcdc
}

/*About*/
#about-text-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    color: #1e1e1e;
}

#about-text-body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
    color: darkgray;
}

#about-text-footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: lighter;
    color: green;
}

.paint input:not([type=file]),
.paint button {
	background-color: lightgray;
	border-radius: 5px;
	border-style: none;
	outline: 0;
}
